@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff;
  color: #393e46;
}

/* --------------=navigation=----------------------- */

nav {
  background-color: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  width: 180px;
  height: 100%;
  background: url("/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  align-items: center;
  display: flex;
  padding: 0;
}

.menu li a {
  padding: 10px 20px;
  color: #393e46;
  transition: color 0.3s;
}
.menu li a:hover {
  color: #ffd700;
}
.menu .btn {
  font-size: 16x;
  letter-spacing: 0;
}
.nav-toggle-label {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #ff9800;
  font-weight: bolder;
}
/*  --------------------------slide------ */
.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slide-content {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.slide .slide-img {
  display: block;
  height: 100vh;
  width: auto;
  margin: 40px auto 0 auto;
}
.slide h2 {
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 10px 0;
}
.slide p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px 0;
}
.hero-btn {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* .slide-content * {
  z-index: 5;
}
.slide {
  display: none;
}

} */

/* ------------------=Welcome+----------------------- */
.intro {
  padding: 50px 20px;
}
.intro h3 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #837e7e;
}
.intro h1 {
  font-size: 38px;
  font-weight: 700;
  color: #2b2a4c;
  margin: 30px 0 50px;
}
.intro p {
  font-size: 18px;
  line-height: 32px;
  width: 60%;
  margin-bottom: 15px;
}

/* ----------------------------------=vision=------------------ */
.vision {
  padding: 0 20px 100px 20px;
}

.container-vision {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-bottom-right-radius: 80px;
  box-shadow: 0 18px 20px 12px rgba(0, 0, 0, 0.1);
}
.vision .btn {
  position: absolute;
  margin-top: -20px;
  box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 0;
}
.vision-content {
  width: 50%;
  padding: 30px 20px;
}
/* ----------------------------------=Products=------------------- */
#products {
  padding: 60px 20px;
  background: url("./images/glass.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
}
#products::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(5, 70, 234, 0.9),
    rgba(0, 23, 81, 1)
  );
}
#products * {
  z-index: 5;
}
.line {
  border-top: #ff9800 solid 4px;
  width: 80px;
}
#products h2 {
  color: #fff;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-body {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
  margin-top: 30px;
}
.last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-content {
  width: 230px;
}
.product-img {
  height: 220px;
}

.img1 {
  background: url("./images/glass.jpg") no-repeat center center/cover;
}
.img2 {
  background: url("./images/contact-lens.png") no-repeat center center/cover;
}
.img3 {
  background: url("./images/sunglass.jpg") no-repeat center center/cover;
}
.product-body h3 {
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border-bottom: #ff9800 solid 5px;
}
.last h3 {
  width: 70%;
}

.product-body p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* ---------------------------=Services=------------- */
#services {
  padding: 60px 20px 80px;
  text-align: center;
}
.line2 {
  border-top: #ddddde solid 2px;
  width: 120px;
  margin: 0 auto 10px auto;
}
.line2 .line {
  margin: -3px auto 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px auto 50px auto;
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px;
  border: #ddddde solid 1px;
}
.cell .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background-color: #ff9800;
  font-size: 24px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* ------------------------------------=Appointment=-------------- */
#appointment {
  background-color: #f1f7fd;
  padding: 60px 0;
  text-align: center;
}

/* ----------------------------------=testimonials=---------------- */
#testimonials {
  padding: 120px 20px 60px 20px;
}
#testimonials .grid {
  max-width: 1100px;
  row-gap: 70px;
  column-gap: 20px;
}
#testimonials .cell {
  padding: 20px;
}
.cell1 {
  border-width: 0;
  align-items: start;
}
.cell1 h3 {
  font-size: 14px;
  color: #837e7e;
  font-weight: 400;
  letter-spacing: 2px;
}
.cell2 {
  border-width: 0;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.2);
}
.cell2 .testimonail-img {
  width: 100%;
  height: 200px;
  background: url("./images/glasses.jpeg") no-repeat center center/cover;
}
.name {
  font-size: 18px;
  line-height: 30px;
  color: #c3c3c3;
  font-weight: 400;
  letter-spacing: 1px;
}
#testimonials p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #333;
}
#testimonials .cell-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#testimonials .cell2 .cell-icon {
  margin-top: 50px;
}
#testimonials .cell-icon i {
  font-size: 28px;
  color: #c3c3c3;
}
#testimonials .rating i {
  color: #b80000;
  font-size: 16px;
}

.cell3 {
  border-width: 0;
  padding: 20px;
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.2);
}
.cell3 .cell-icon {
  margin-bottom: 20px;
}

/* -----------------------------------Contact=------------------------ */
#contact {
  background-color: #f1f7fd;
  padding: 20px 0;
}
.contact {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.contact-content {
  width: 450px;
}
.contact-content .btn {
  margin-top: 40px;
}
.contact-img {
  width: 230px;
  height: 230px;
  background: url("./images/contact.jpeg") no-repeat center center/contain;
}

/* ---------------------------------=location=---------------- */
#location {
  padding: 40px 20px;
}
.address {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.first-circle {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(187, 225, 250, 0.9),
    rgba(15, 76, 117, 1)
  );
}
.second-circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #000;
  background-color: rgba(187, 225, 250, 0.2);
}

.address-content h3 {
  color: #2b2a4c;
  font-size: 20px;
  letter-spacing: 1px;
}

/* ------------------------------=FOOTER=------------------- */
footer {
  padding: 30px 20px;
  background-color: #f1f7fd;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-icon .first-circle {
  width: 50px;
  height: 50px;
}

.footer-icon .second-circle {
  font-size: 24px;
  width: 38px;
  height: 38px;
  background: linear-gradient(
    to bottom,
    rgba(15, 76, 117, 1),
    rgba(187, 225, 250, 0.9)
  );
}
footer span {
  font-weight: 700;
}

/* ----------------------------=AboutPage=--------------- */
.about-hero {
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.about-hero-img {
  height: 80vh;
  width: 50%;
  background: url("./images/visiontesters.jpg") no-repeat center center/contain;
}
.about-hero-content {
  width: 50%;
  padding-right: 80px;
}
.about-hero-content p {
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  padding: 10px 10px 40px 0;
}
.about-hero-content .btn {
  padding: 15px 15px;
}
/* --------------------management-------------------- */
#management {
  background: url("./images/logo.png") no-repeat center center/contain;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0;
}
#management::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 247, 253, 0.95);
}
#management * {
  z-index: 5;
}
#management .container {
  padding: 0 20px;
}
.management-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
}
.management-content p {
  width: 70%;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.management-img {
  width: 250px;
  height: 250px;
  background: url("./images/doctor.jpg") no-repeat center center/cover;
}

/* --------question--=-=--=-=-=-=-=----------------- */
#question {
  padding: 60px 0;
}
#question .container {
  padding: 0 20px;
}
#question h2 {
  text-align: center;
}
.question {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.question-icon {
  font-size: 28px;
  padding: 5px;
  color: #2b2a4c;
}
.question p {
  padding-left: 20px;
}
/* --------------------------------For tablets ----*/
@media (max-width: 768px) {
  /* --------------=navigation=----------------------- */
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0f0;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
  }

  .menu li {
    width: 100%;
    padding: 10px 0;
    margin-right: 0;
    margin-bottom: 10px;
    border-bottom: #e2e2e2 solid 1px;
  }
  .nav-toggle-label {
    display: block;
  }

  .intro p {
    width: 80%;
  }
  .products {
    align-items: center;
  }
  .line {
    margin: 0 auto;
  }
  .product-body {
    justify-content: center;
  }
  .products-content {
    width: 280px;
  }
  .product-img {
    height: 250px;
  }
  .product-body p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;
    padding-right: 20px;
  }
  #services .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .cell {
    padding: 50px 20px;
  }
  #testimonials {
    padding-top: 80px;
  }
  #testimonials .grid {
    column-gap: 5px;
  }
  .about-hero-content {
    padding-right: 20px;
  }
}

/* ---------------------------For portrait phones-------- */
@media (max-width: 360px) {
  .intro p {
    width: 100%;
  }
  .slide h2 {
    margin-top: 40px;
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .container-vision {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .vision-content {
    width: 100%;
    padding: 20px;
  }
  .products-content {
    width: 100%;
  }
  .last h3 {
    margin: 020px auto 0;
  }

  .product-body p {
    text-align: center;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #services .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #testimonials .grid {
    max-width: 100vw;
    text-align: center;
    row-gap: 30px;
  }
  .cell1,
  .cell2,
  .cell3 {
    grid-column: 1 / span 3;
    column-gap: 20px;
  }
  .cell1 h3 {
    margin: 0 auto;
  }
  .cell2 {
    flex-direction: column;
  }
  .contact-img {
    display: none;
  }
  #contact .container {
    text-align: center;
  }
  footer .container {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  .first-circle {
    flex-shrink: 0;
  }
  .about-hero {
    flex-direction: column-reverse;
  }
  .about-hero-img {
    height: 50vh;
    width: 100vw;
  }
  .about-hero-content {
    text-align: center;
    width: 100vw;
    padding: 0 20px;
  }
  .management-content {
    flex-direction: column;
    text-align: center;
  }
  .management-content p {
    width: 100%;
  }
  .management-img {
    width: 300px;
    height: 280px;
  }
  #management h2 {
    text-align: center;
  }
}
/* For landscape phones */
@media (max-width: 568px) and (orientation: landscape) {
  body {
    background-color: blue;
  }
}
